#mainPage {
    width: 100%;
}

#footer {
    width: 100%;
    background-color: blue;
}

#header {
    background-color: aqua;
    min-height: 10%;
    width: 100%;
}

.carousel {
    height: 60%;
}

.carousel-inner img {
 height: 600px;
}